openai
streamlit
langchain
streamlit-extras
webbrowser
base64
firebase-admin
google-cloud-core
google-cloud-storage
google-cloud-firestore
google-auth-oauthlib
google-auth
google-api-core
google-api-python-client
oauthlib
pdfplumber
python-pptx
toml